.index-body{
    background: linear-gradient(to right,rgb(240, 108, 67) ,white,green);
}

.index-h1 {
    text-align: center;
}

.index-login-button {
    background-color: blue;
    color: white;
    border-radius: 12px;
    width: 50px;
    height: 30px;
    margin-top: 50px;
    margin-left: 200px;
    border: 0px;
    text-align: center;
}

.index-form {
    border-radius: 12px;
    background-color: aliceblue;
    width: 450px;
    height: 350px;
    text-align: left;
    line-height: 29px;
    font-family: sans-serif;
    padding: 14px 10px 10px 15px;
    margin: 104px;
}
 
/* -------------form-------------- */


.form-page{
    
    border-radius: 12px;
    background-color: rgb(240, 248, 255);
    width: 50%;
    text-align: left;
    line-height: 29px;
    font-family: sans-serif;
    padding: 10px 10px 9px 15px;
    margin: auto;
}
.form-head-h1{
    background-color: gainsboro;
    padding: 10px 10px 0 0 ;
    text-align: center;
    border-radius: 10px 10px 0 0 ;
    height: 70px;
}

  


label{
        font-weight: bolder;
    font-family: sans-serif;
}
.input-box{
    height: 25px;
    width: 300px;
    /* border-radius: 5px; */
}
.radio-box{
    height: 10px;
    
}




iframe{
    width: 500px;
    height: 350px;
    
}
/*-----------Signature & Register---------- */
.signature-register{
    background-color: gainsboro;
    border-radius: 0 0px 10px 10px;
}


.signature {
    float: right;
    width: 131px;
    height: 31px;
    margin-right: 10px;
}

 
button {
    color: whitesmoke;
    height: 26px;
    border: 0px;
    margin-top: 70px;
    margin-left: 244px;
    margin-bottom: 10px;
    background-color: royalblue;
}



